body {
  background: rgb(255, 255, 255);
  font-family: arial, sans-serif;
}

.navbar {
  width: 100%;
  height: 100px;
  background: rgb(32, 30, 31);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 5px 2px rgba(255, 204, 42);
  padding-bottom: 2px;
}

/*Logo*/
.LogoInicial {
  width: 150px; /*largura*/
  height: 80px; /*altura*/
  border-radius: 5%;
  transition: 300ms ease-in-out;
}

/*Barra de Pesquisa*/
#divBusca {
  background-color: #ffffff;
  border: solid 0.5px rgba(255, 204, 42);
  border-radius: 10px;
  width: 323px;
  height: 32px;
}

#query {
  float: left;
  background-color: transparent;
  padding-left: 5px;
  font-size: 16px;
  border: none;
  height: 30px;
  width: 191px;
}

#btnBusca {
  border: none;
  float: left;
  height: 31px;
  border-radius: 0 7px 7px 0;
  width: 95px;
  font-weight: bold;
  background: rgba(255, 204, 42);
  cursor: pointer;
}

/*Lupa da barra de pesquisa*/
#divBusca .lupa {
  float: left;
  height: 27px;
  width: 35px;
  margin-top: 1px;
}

/*Menu de ícones de Conta e Carrinho*/
.menuNav {
  display: flex;
}

.menuNav li {
  list-style: none;
  margin-right: 40px;
}

.menuNav li button {
  border: 0;
  background: transparent;
  margin-top: 4px;
}

.menuNav li button .link {
  cursor: pointer;
  color: rgb(255, 204, 42);
}

/*Dropdown*/
.dropdownMenu ul {
  list-style: none;
}

.dropdownMenu ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}

.dropdownMenu ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.dp-menu ul {
  list-style-type: none;
  padding: 0;
}

.dp-menu ul {
  color: rgb(214, 214, 214);
  background-color: rgba(32, 30, 31);
  border-bottom: 0.5px solid rgb(0, 0, 0);
  border-radius: 10%;
}

.dp-menu ul li {
  display: inline;
  position: relative;
}

.dp-menu ul li a {
  color: var(--cor-primaria);
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  transition: background 0.3s;
}

/* Hover do dropdown*/
.dp-menu ul li a:hover {
  color: rgba(255, 204, 42);
}

/*Funcionamento sub menu*/
.dp-menu ul ul {
  display: none;
  left: 0;
  position: absolute;
  z-index: 1;
}

.dp-menu ul li:hover ul {
  display: block;
}

.dp-menu ul ul {
  width: 150px;
}

.dp-menu ul ul li a {
  display: block;
}
